body { 
    background-color: #ffc400;
}
/* Box with almost all elements in it */
.wrapper {
    padding: 10px;
    margin: auto;
    width: 806px;
    height: 800px;
    background-color: #fdd700;
    border-radius: 10px; /* rounding for borders */
}
/* header with Higher Lower  */
header {
    background-color: #ffae00;
    width: 808px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 8px; /* makes rounded border */
}
 /* text with higher lower */
.title {
    text-align: center;
     font: 800 40px Arial;
    -webkit-text-fill-color:rgb(221, 235, 189); /* replaces default text color exept the text stroke  */
    -webkit-text-stroke: 2px; /* text stroke thickness */

}
/* Player's name in the wrapper  */
.text-player {                                 
    font: 800 32px Arial;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px;
}
/* text "Bot" in the wrapper  */ 
.text-cpu {                                       
    font: 800 32px Arial;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px;
}


.player-amount-box {
    background-color: #ffae00;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size:70px;
    line-height: 150px;
    border-radius: 8px; 
} 
   /* hover over player number box */
.player-amount-box:hover{
    background-color: #bb8000;
}

.bot-amount-box{
    background-color: #ffae00;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size:70px;
    line-height: 150px;
    border-radius: 8px; 
}
/* hover over bot number box */
.bot-amount-box:hover{
    background-color: #bb8000;
}
/*buttons*/
.higher{
margin-left: 350px;
}
/*buttons*/
.lower{
    margin-top: 10px;
    margin-left: 352px;
}
/*the page background*/ 
*::selection {
    background: transparent; /*makes so u dont see what you select*/ 
}
/*Tokens value text*/
.moneybox {
    font-size: 50px;
    margin: 0px;
    float: left;
}
/*just "Tokens" text outside the wrapper*/
.plrPointsText {
    font-size: 50px;
    width: 100px;
    float:  left;
}

.rules{
    background-color: #fdd700;
    padding: 10px;
    margin: auto;
    margin-top:  20px;
    width: 806px;
    border-radius: 8px; 
}

.rulesList{
    font-size: 20px;
}

.backToEasy{
    float: right;
    font-size: 30px;
}

.winnertext{
    float: right;
    font: 800 32px Arial;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px;
}